@using StudentManagerment.Models
@model StudentManagerment.ViewModels.HomeDetailsViewModel
@{
    ViewBag.Title =Model.PageTitle;
}

<div class="card-group">
    @foreach (var item in Model.stuArr)
    {
        <div class="card m-3">
            <div class="card-header">
                <h3>@item.Name </h3>
            </div>
             <img class="card-img-top"   src="~/IMG/@item.imgSrc" />
              <div class="card-footer text-center">
                <a href=../../Home/Details?id=@item.id class="btn btn-primary">返回</a>
                <a href=../../Home/Details?id=@item.id class="btn btn-primary">编辑</a>
                <a href=../../Home/Details?id=@item.id class="btn btn-danger">删除</a>
            </div>
        </div>
    }
</div>

@*<table border="1">
    <tr>
        <td>id</td>
        <td>姓名</td>
        <td>班级</td>
        <td>邮箱</td>
    </tr>
    @foreach (var item in Model.stuArr)
    {
        <tr>
            <td>@item.id</td>
            <td>@item.Name</td>
            <td>@item.ClassName</td>
            <td>@item.Email</td>
        </tr>
    }
</table>
*@